### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [91]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [92]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [93]:
ca_df = pd.DataFrame({'Total Players':[purchase_df['SN'].count()]})
pc = purchase_df['SN'].count()
ca_df

   Total Players
0            780

In [94]:
ui = purchase_df['Item Name'].value_counts().count()
avgp = round(purchase_df['Price'].mean(),2)
tp = purchase_df['Price'].sum()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
pa_df = pd.DataFrame({'Number of Unique Item':[ui],'Average Price':[avgp],'Number of Purchases':[pc],'Total Revenue':[tp]})
pa_df['Average Price'] = pa_df['Average Price'].map("${:.2f}".format)
pa_df['Total Revenue'] = pa_df['Total Revenue'].map("${:.2f}".format)
pa_df

   Number of Unique Item Average Price  Number of Purchases Total Revenue
0                    179         $3.05                  780      $2379.77

                  Gender  Total Count Percentage of Players
0                 Female          113                14.49%
1                   Male          652                83.59%
2  Other / Non-Disclosed           15                 1.92%

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [101]:
pc_df = purchase_df.groupby('Gender').size().reset_index(name='Total Count')
tp = pc_df['Total Count'].sum()
pc_df['Percentage of Players'] = round(pc_df['Total Count']/tp * 100,2)
pc_df['Percentage of Players'] = pc_df['Percentage of Players'].map("{:.2f}%".format)
rslt_df = pc_df.set_index('Gender')
rslt_df

                       Total Count Percentage of Players
Gender
Female                         113                14.49%
Male                           652                83.59%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

In [119]:
gpa_df = purchase_df[['Gender','Price']].groupby('Gender').sum()
gpa_df['Purchase Count'] = purchase_df.groupby('Gender').size()
gpa_df = gpa_df.rename(columns={'Price':'Total Purchase Value'})
gpa_df['Average Purchase Price'] = round(gpa_df['Total Purchase Value'] / gpa_df['Purchase Count'],2)
gpa_df

,Total Purchase Value,Purchase Count,Average Purchase Price
Gender,,,
Female,361.94,113,3.20
Male,1967.64,652,3.02
Other / Non-Disclosed,50.19,15,3.35

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [129]:
bins = [0,9,14,19,24,29,34,39,40]
b_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_df['Age Range'] = pd.cut(purchase_df['Age'],bins,labels=b_labels)
ar_df = purchase_df.groupby('Age Range')
par_df = ar_df['Age'].size().reset_index(name='Total Count')
rslt_df = par_df
tc = par_df['Total Count'].sum()
rslt_df['Percentage of Players'] = round(par_df['Total Count']/tc * 100,2)
rslt_df['Percentage of Players'] = par_df['Percentage of Players'].map("{:.2f}%".format)
rslt_df = rslt_df.set_index('Age Range')
rslt_df

           Total Count Percentage of Players
Age Range
<10                 23                 2.98%
10-14               28                 3.62%
15-19              136                17.59%
20-24              365                47.22%
25-29              101                13.07%
30-34               73                 9.44%
35-39               41                 5.30%
40+                  6                 0.78%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80